 /* ul 가로 정렬 */
ul{
    display:flex ;
    list-style: none ;
    padding: 0;
}

.box1{
    border: 3px solid black;
    width: 300px;
    height: 200px;
    background-color: #ddd;
    margin: 30px;
    cursor: pointer;
}

.box2{
    border: 3px solid black;
    width: 300px;
    height: 30px;
    background-color: #ece935;
    margin: 30px;
    cursor: pointer;
}

.box1 image{
    float: left;
}

#hoverBox{
    float: left;
}

#activeBox:active {
background-image: url(../H연습/images/psyduck.01.png);
background-size: cover;
}

#hoverBox1:hover + #showBox1 {
    background-image: url(../H연습/images/psyduck.01.png);
    background-size: cover;
}
#hoverBox2:hover {
    background-image: url(../H연습/images/psyduck.02.png);
    background-size: cover;
}
#hoverBox3:hover {
    background-image: url(../H연습/images/psyduck.03.png);
    background-size: cover;
}