/* Color Theme Swatches in Hex */
.Luxury-1-hex { color: #402129; }
.Luxury-2-hex { color: #733250; }
.Luxury-3-hex { color: #C0614B; }
.Luxury-4-hex { color: #F9D4C1; }
.Luxury-5-hex { color: #FAFCFB; }

/* Color Theme Swatches in RGBA */
.Luxury-1-rgba { color: rgba(63, 33, 40, 1); }
.Luxury-2-rgba { color: rgba(114, 49, 80, 1); }
.Luxury-3-rgba { color: rgba(191, 96, 75, 1); }
.Luxury-4-rgba { color: rgba(249, 212, 193, 1); }
.Luxury-5-rgba { color: rgba(249, 251, 251, 1); }

/* Color Theme Swatches in HSLA */
.Luxury-1-hsla { color: hsla(344, 31, 19, 1); }
.Luxury-2-hsla { color: hsla(332, 39, 32, 1); }
.Luxury-3-hsla { color: hsla(11, 48, 52, 1); }
.Luxury-4-hsla { color: hsla(20, 82, 86, 1); }
.Luxury-5-hsla { color: hsla(150, 24, 98, 1); }
