:root{
    --main-color: gray;
}

/* font */
@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

p{
    font-family: EASTARJET-Medium;
    font-size: x-large;}

a{
    color : black;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0; /* li 요소 간격 조정 */
}

body{
    display: flex; 
    flex-direction: column;

    /* 화면 크기가 작아져도 유지 해야 할 최소 크기 */
    min-width: 768px;  /* 최소 화면 너비 */
    min-height: 100vh; /* 최소 화면 높이 100% : */
}

/* header css */
/* header css */
/* header css */

/* 헤드 전체 설정 */
header{
    padding: 15px 0;
    border-bottom : 2px solid var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 헤드 통 설정 */
.head-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 100%;

    max-width: 1200px;
}

/* 통 내의 좌 센터 우측 설정 */
.head-container > div{
    height: 90%;
    display: flex;
    align-items: center ;
}

.headleft > *{
    height: 100px;
}

.headcenter > *{
    height: 100px;
}

.headright a{
    font-weight: bold;
    color: var(--main-color);
    font-size: 0.8em;
    margin: 0 10px;
}

/* nav */
/* nav */
/* nav */

nav{
    padding: 10px 10px;
    border-bottom: 2px solid var(--main-color);

    background-color: white;
    position: sticky;
    top: -1px;
    z-index: 10000;
}

.navbar{
    display: flex;
    justify-content: center;

}
.navbar > li{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar > li > a{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--main-color);

    padding: 3px 20px;
    width: 100%;
    text-align: center;
}

#hidden{
    display: none;
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    margin-top: 210px;
    padding-top: 20px;
    text-align: center;
}

a:hover + #hidden,
#hidden:hover {
    display: block; /* 대표메뉴에 호버링하거나 hidden div에 호버링 시 나타나게 함 */
}

.navbar > li:hover #hidden{
    display: block;
}

#hidden ul li {
    padding: 10px 0
}


/* main */
/* main */
/* main */
/* main */

main{
    flex-grow: 1;
}

/* 베너 */
/* 베너 */
/* 베너 */
.banner-container{
    height: 300px;
    border-bottom: 2px solid var(--main-color);
}

.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    /* 배경 이미지 추가 */
    background-image: url(../../../../image/LOGO.png);
    
    background-size: auto 200%;
    background-position: center;
    background-repeat: no-repeat;
}

/* 메인 내용 */
/* 메인 내용 */
/* 메인 내용 */

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 1000px;
    max-width: 2000px;

    margin: auto;
}

.content-row{
    background-color: #c46e0c;
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    display: flex;
}

.thumbnail{
    border: 3px solid black;
    border-radius: 20px;

}

.des-col{
    margin: 0 20px;
    height: 500px;
}

/* 카드 */
/* 카드 */
/* 카드 */

.card-container{
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    
}

/* 카드를 감싸는 요소 */
.card-item{
    flex-shrink: 0;
    width: 25%;
    min-width: 200px;
    padding: 15px;
}

.card{
    display: block;
}

.card-thumbnail-container{
    height: 200px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.card-thumbnail{
    width: 100%;
    height: 100%;
    transition-duration: 0.25s;
    object-fit: contain;
}

.card-content{
    padding-top: 10px;
    white-space: pre-wrap;
    text-align: center;
}

.card:hover .card-thumbnail{
    transform: scale(1.1);
}

footer{
    flex-grow: 0;
    flex-shrink: 0;
    height: 200px;
    background-color: #144e02;
    color: bisque;
}