.bgc-1 { background-color: #22211B; }
.bgc-2 { background-color: #423B2F; }
.bgc-3 { background-color: #182740; }
.bgc-4 { background-color: #3B080B; }
.bgc-5 { background-color: #F1F1F0; }
.bgc-6 { background-color: #00000F; }
.bgc-7 { background-color: #FBFFFF; }
.bgc-8 { background-color: #002A54; }
.bgc-9 { background-color: #8AA8FF; }
.bgc-10 { background-color: #FF9800; }
.bgc-11 { background-color: #080C26; }
.bgc-12 { background-color: #F2D5A0; }
.bgc-13 { background-color: #F2B05E; }
.bgc-14 { background-color: #F28749; }
.bgc-15 { background-color: #F26A4B; }
